body {
    display: flex;
    height: 100vh;
}

.title {
    background-color: darkgreen;
    width: 30%;
}
.formbody {
    background-color: white;
}

.content {
    background-color: lightgray;
    width: 70%;
}